@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

:root {
  --pr-color: rgba(0, 255, 170, 0.2);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 15px;
}

.result-box {
  width: 100%;
  background-color: var(--bg-color);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.result-bg {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 120px;
  display: grid;
  place-items: center;
}

.percentile {
  position: relative;
  top: -10px;
  font-size: 5.5rem;
  font-family: 'Nabla', cursive;
  user-select: none;
}
.result-detail {
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
  margin: 1rem 0;
}
.new-quiz {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 0.75rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
}
.check-answers-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 5px;
  text-align: right;
}
.check-answers-boxes {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 50vh;
  width: 90vw;
  overflow-y: auto;
  border-radius: 1rem;
}

/*
.check-answers-boxes::-webkit-scrollbar {
  display: none;
}
  */
.check-answer-box {
  padding: 1.25rem;
  background-color: var(--bg-color);
  backdrop-filter: blur(50px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.check-answer-box.correct {
  background-color: var(--pr-color);
}
.check-answer-box.wrong {
  background-color: rgba(255, 77, 79, 0.2);
}
.check-answer-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
}
.check-answer-count {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.check-answer-question {
  font-weight: 500;
  font-size: 1.8rem;
}
.check-icon {
  width: 30px;
  height: 30px;
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
}
.check-answer-box.correct .check-icon {
  background-color: #00ffaa5b;
}
.check-answer-box.wrong .check-icon {
  background-color: #6b3232;
}
.check-icon i {
  font-size: 1.75rem;
  opacity: 1;
}
.check-answer-box.correct .check-icon i {
  color: #00ffaa;
}
.check-answer-box.wrong .check-icon i {
  color: #ff4747;
}
.check-answer-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  direction: rtl;
}
.answer-box {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.check-answer-box.correct .answer-box:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.5);
}
.check-answer-box.wrong .answer-box:nth-child(1) {
  background-color: rgba(255, 77, 79, 0.2);
}

.check-answer-box.correct .answer-box:nth-child(1) .answer-title {
  color: #5cdbd3;
}
.answer-box:nth-child(2) .answer-title {
  color: #00ffaa;
}

.answer-title {
  font-size: 0.9em;
  font-weight: bold;
}
.check-answer-box.wrong .answer-box:nth-child(1) .answer-title {
  color: #5cdbd3;
}
.answer-text {
  font-size: 1rem;
  font-weight: bold;
}
